<footer>
  <div>
    <ul class="social relative z-10 text-xs sm:text-base">
      <li><img src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/pin-drop.svg" alt="icon-pin"> Tacna-Peru</li>
      <li><img src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/mail.svg" alt="icon-pin"> machicadogomezalexander@gmail.com</li>
      <li><img src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/phone.svg" alt="icon-pin"> 934842747</li>
      <li><a href=""><img src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/linkedin.svg" alt="icon-pin">/machicadogomezalexander/</a></li>
    </ul>
  </div>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</footer>
