<footer>
  <div>
    <ul class="social">
      <li><img src="../../../assets/img/pin-drop.svg" alt="icon-pin"> Tacna-Peru</li>
      <li><img src="../../../assets/img/mail.svg" alt="icon-pin"> machicadogomezalexander@gmail.com</li>
      <li><img src="../../../assets/img/phone.svg" alt="icon-pin"> 934842747</li>
      <li><a href=""><img src="../../../assets/img/linkedin.svg" alt="icon-pin">/machicadogomezalexander/</a></li>
    </ul>
  </div>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</footer>
