:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
  padding-bottom: 4rem;
}
img{
  width: 5rem;
  height: 4rem;
}
h2{
  font-family:var(--font_title);
}
.hardSkill{
  height: 80%;
  display: grid;
  gap: 1rem;
  grid-template: repeat(5, min-content)/repeat(3, min-content);
  justify-content: space-evenly;
}
#softSkills{
  height: 50%;
  width: 50%;
  border-radius: 2rem;
}
