<header class="">
  <h2 class="text-4xl">Proyectos</h2>
</header>
<div class="project w-4/5 mb-5">
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="https://github.com/Dexametasona/nuevo-port/blob/main/src/assets/img/miniatura-eccomerce.png?raw=true" alt="miniatura-eccomerce">
    <p>Página eccomerce</p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://dexametasona.github.io/proyecto-final/login/loginChild"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://github.com/Dexametasona/proyecto-final"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="https://github.com/Dexametasona/nuevo-port/blob/main/src/assets/img/miniatura%20pokemon.png?raw=true" alt="miniatura-pokemon">
    <p>Pokedex para consumir api</p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://dexametasona.github.io/sincrono19/home"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://github.com/Dexametasona/sincrono19"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="assets/img/miniatura-trivia.png">
    <p>Juego de trivia</p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://dexametasona.github.io/trivia/home"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://github.com/Dexametasona/trivia"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="https://i.ibb.co/GcK35hH/perfil.jpg">
    <p>Prototipo web banco</p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://dexametasona.github.io/challenge/"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://github.com/Dexametasona/challenge"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="https://i.ibb.co/0cGwqLz/eccomerce.jpg">
    <p>Funkos eccomerce</p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://dexametasona.github.io/aluraGeek/"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://github.com/Dexametasona/aluraGeek"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl font-bold shadow-xl shadow-slate-500 bg-slate-200 rounded-lg p-3 project_card">
    <img class="rounded-lg project_card_mini" src="https://i.ibb.co/Ttb1yw9/garden-House.png">
    <p>Garden House Figma </p>
    <div class="absolute bottom-1/2 hidden project_card_icons">
      <a href="https://www.figma.com/file/p9McGbqZcVII1wsmAhKgOK/Untitled?type=design&mode=design&t=qsZYJbA4C7lIPZdj-0"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/eye-icon.svg" alt="eye_icon"></a>
      <a href="https://www.figma.com/file/p9McGbqZcVII1wsmAhKgOK/Untitled?type=design&mode=design&t=qsZYJbA4C7lIPZdj-0"><img class="px-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/link-icon.svg" alt="link_icon"></a>
    </div>
  </div>
</div>
