<div class="flex flex-col items-center w-3/4 mt-10 about">
  <div class="h-1/8 md:h-1/4 mb-3">
    <h2 class="text-4xl">Acerca de mí...</h2>
  </div>
  <img
    class="h-48 xl:h-1/2 mb-10"
    src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/hero-devices.svg"
    alt=""
  />
  <p class="text-xs md:text-2xl bg-slate-100 p-4 text-justify rounded-md">
    Hola me llamo Alexander y soy desarrollador frontend con Angular,
    Manejo teconologías como Firebase, Sass, Tailwind, Typescript, Java y Figma.
    Hace dos años empecé a estudiar python, pero desde hace un
    año tuve la oportunidad de estudiar en CERTUS como desarrollador frontend, y
    actualmente curso 3 becas simultáneas en alura(React), Digital
    House(Fullstack) y Egg-Globant(Backend Spring), manejo un nivel de ingles
    B1.
  </p>
</div>
