<div class="flex flex-col items-center w-3/4 mt-10 about">
  <h2 class="text-4xl h-1/5">Acerca de mí...</h2>
  <img class="h-1/2 mb-10" src="https://raw.githubusercontent.com/Dexametasona/nuevo-port/e8c2624cfc3b11fe657866e6e691b5608e271cdf/src/assets/img/hero-devices.svg" alt="">
  <p class="text-xs md:text-2xl bg-slate-100 p-4 text-justify rounded-md">
    De profesión soy odontólogo, pero también cursé una beca para ser desarrollador Web FrontEnd. Me caracterizo por ser una persona muy responsable, sumamente curioso, empático y resiliente. Tengo experiencia en adaptarme y trabajar con grandes, medianos y pequeños equipos de trabajo por mi formación. Tengo la meta de cambiar de rubro laboral y trabajar en una empresa donde pueda expandir mis conocimientos en beneficio propio y de la empresa.
  </p>
</div>
