<main class="md:w-10/12 flex justify-center items-center">
  <img class="h-1/2 lg:h-3/4 rounded md:block hidden" src="https://github.com/Dexametasona/nuevo-port/blob/main/src/assets/img/5097611.jpg?raw=true" alt="Hombre con pc">
  <h1 class="px-10 text-3xl font-bold sm:font-normal sm:text-6xl text-center">Hola, soy
    <p class="inline-flex waviy">
      <span style="--i:1">A</span>
      <span style="--i:2">L</span>
      <span style="--i:3">E</span>
      <span style="--i:4">X</span>
      <span style="--i:5">A</span>
      <span style="--i:6">N</span>
      <span style="--i:7">D</span>
      <span style="--i:8">E</span>
      <span style="--i:9">R</span>
    </p> Desarrollador FrontEnd, bienvenido a mi portafolio.</h1>
</main>
